<IfModule mod_rewrite.c>
    RewriteEngine On

    # Loại bỏ index.php khỏi URL
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

# Chặn truy cập trực tiếp vào file .env
<Files .env>
    Require all denied
</Files>